[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=WingPanel
Comment=panel
Exec=io.elementary.wingpanel
TryExec=io.elementary.wingpanel
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=true
