@define-color borders_breeze #3b3e45;
@define-color content_view_bg_breeze #131520;
@define-color error_color_backdrop_breeze #ff5370;
@define-color error_color_breeze #ff5370;
@define-color error_color_insensitive_backdrop_breeze #612939;
@define-color error_color_insensitive_breeze #612939;
@define-color insensitive_base_color_breeze #12141f;
@define-color insensitive_base_fg_color_breeze #4b4e55;
@define-color insensitive_bg_color_breeze #0e1019;
@define-color insensitive_borders_breeze #1d1f27;
@define-color insensitive_fg_color_breeze #494c52;
@define-color insensitive_selected_bg_color_breeze #0e1019;
@define-color insensitive_selected_fg_color_breeze #494c52;
@define-color insensitive_unfocused_bg_color_breeze #0e1019;
@define-color insensitive_unfocused_fg_color_breeze #494c52;
@define-color insensitive_unfocused_selected_bg_color_breeze #0e1019;
@define-color insensitive_unfocused_selected_fg_color_breeze #494c52;
@define-color link_color_breeze #00d3b8;
@define-color link_visited_color_breeze #7cb7ff;
@define-color success_color_backdrop_breeze #c3e88d;
@define-color success_color_breeze #c3e88d;
@define-color success_color_insensitive_backdrop_breeze #4d5a43;
@define-color success_color_insensitive_breeze #4d5a43;
@define-color theme_base_color_breeze #131520;
@define-color theme_bg_color_breeze #0f111a;
@define-color theme_button_background_backdrop_breeze #12151f;
@define-color theme_button_background_backdrop_insensitive_breeze #11141e;
@define-color theme_button_background_insensitive_breeze #11141e;
@define-color theme_button_background_normal_breeze #12151f;
@define-color theme_button_decoration_focus_backdrop_breeze #00d3b8;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #0b5351;
@define-color theme_button_decoration_focus_breeze #00d3b8;
@define-color theme_button_decoration_focus_insensitive_breeze #0b5351;
@define-color theme_button_decoration_hover_backdrop_breeze #00d3b8;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #0b5351;
@define-color theme_button_decoration_hover_breeze #00d3b8;
@define-color theme_button_decoration_hover_insensitive_breeze #0b5351;
@define-color theme_button_foreground_active_backdrop_breeze #bfc3c4;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #494c52;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #494c52;
@define-color theme_button_foreground_backdrop_breeze #bfc3c4;
@define-color theme_button_foreground_backdrop_insensitive_breeze #4b4e55;
@define-color theme_button_foreground_insensitive_breeze #4b4e55;
@define-color theme_button_foreground_normal_breeze #bfc3c4;
@define-color theme_fg_color_breeze #bfc3c4;
@define-color theme_header_background_backdrop_breeze #0f111a;
@define-color theme_header_background_breeze #0f111a;
@define-color theme_header_background_light_breeze #0f111a;
@define-color theme_header_foreground_backdrop_breeze #bfc3c4;
@define-color theme_header_foreground_breeze #bfc3c4;
@define-color theme_header_foreground_insensitive_backdrop_breeze #bfc3c4;
@define-color theme_header_foreground_insensitive_breeze #bfc3c4;
@define-color theme_hovering_selected_bg_color_breeze #00d3b8;
@define-color theme_selected_bg_color_breeze #059a8a;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #bfc3c4;
@define-color theme_titlebar_background_backdrop_breeze #2f343f;
@define-color theme_titlebar_background_breeze #2f343f;
@define-color theme_titlebar_background_light_breeze #0f111a;
@define-color theme_titlebar_foreground_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_breeze #d3dae3;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #666a73;
@define-color theme_titlebar_foreground_insensitive_breeze #666a73;
@define-color theme_unfocused_base_color_breeze #131520;
@define-color theme_unfocused_bg_color_breeze #0f111a;
@define-color theme_unfocused_fg_color_breeze #bfc3c4;
@define-color theme_unfocused_selected_bg_color_alt_breeze #053632;
@define-color theme_unfocused_selected_bg_color_breeze #053632;
@define-color theme_unfocused_selected_fg_color_breeze #bfc3c4;
@define-color theme_unfocused_text_color_breeze #bfc3c4;
@define-color theme_unfocused_view_bg_color_breeze #12141f;
@define-color theme_unfocused_view_text_color_breeze #4b4e55;
@define-color theme_view_active_decoration_color_breeze #00d3b8;
@define-color theme_view_hover_decoration_color_breeze #00d3b8;
@define-color tooltip_background_breeze #353945;
@define-color tooltip_border_breeze #5d616d;
@define-color tooltip_text_breeze #d3dae3;
@define-color unfocused_borders_breeze #3b3e45;
@define-color unfocused_insensitive_borders_breeze #1d1f27;
@define-color warning_color_backdrop_breeze #f78c6c;
@define-color warning_color_breeze #f78c6c;
@define-color warning_color_insensitive_backdrop_breeze #5e3c38;
@define-color warning_color_insensitive_breeze #5e3c38;
