#version 1.0
#contact: erik.dubois@gmail.com
#
[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=openAsRoot
X-KDE-Priority=TopLevel

[Desktop Action openAsRoot]
Name=Open Thunar as root (ArcoLinux)
Icon=system-file-manager
Exec=kdesu thunar
